{# templates/bundles/EasyAdminBundle/admin/index.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Dashboard' %}

{% block content_title 'Dashboard' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Dashboard!</h1>
            <!-- Your custom content goes here -->
        </div>
    </div>
{% endblock %}
