{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Kargo Bilgisi Oluştur</h2>
            <form method="post">
    {% if not app.user %}
    <label for="sender">Gönderen Adı</label>
    <input type="text" id="sender" name="sender" class="form-control">
    {% else %}
    <label for="sender">Gönderen Adı</label>
    <input type="text" id="sender" name="sender" class="form-control" value="{{ app.user.username }}" readonly>
    {% endif %}

    <label for="receiver">Alıcı Adı</label>
    <input type="text" id="receiver" name="receiver" class="form-control">

    <label for="sender_country">Nereden</label>
    <select id="sender_country" name="sender_country" class="form-control">
        <option selected>Ülke Seçin</option>
        <option value="Türkiye">Türkiye</option>
        <option value="ABD">ABD</option>
        <option value="Almanya">Almanya</option>
    </select>

    <label for="receiver_country">Nereye</label>
    <select id="receiver_country" name="receiver_country" class="form-control">
        <option selected>Ülke Seçin</option>
        <option value="Türkiye">Türkiye</option>
        <option value="ABD">ABD</option>
        <option value="Almanya">Almanya</option>
    </select>

    <label for="description">Açıklama</label>
    <textarea class="form-control" id="description" name="description" rows="4" required></textarea>

    <button type="submit" class="btn btn-primary">Kargo Bilgisi Oluştur</button>
    <a href="{{ path('app_shipments') }}" class="btn btn-secondary">Mevcut kargolarım</a>
</form>

            </form>
        </div>
    </div>
</div>
{% endblock %}
