{% extends 'base.html.twig' %}
{% block body %}
	<h1>Hakkımızda</h1>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<ul>
					<li>
						<strong>Kargof</strong>, dünya genelinde müşterilere güvenilir ve etkili lojistik çözümleri sunan önde gelen bir uluslararası kargo firmasıdır. Uzun yıllara dayanan deneyimimiz ve taşımacılık sektöründeki lider konumumuz, müşterilerimize olağanüstü hizmetler sunma kapasitemizi kanıtlamaktadır.
					</li>
					<li>
						2000 yılında kurulan
						<strong>Kargof</strong>, başlangıçtan bu yana hızla büyümüş ve geniş bir küresel ağa dönüşmüştür. Şirketimizin merkezi [Merkez Şehir ve Ülke] olup, dünyanın dört bir yanındaki temsilciliklerimiz ve partnerlerimiz aracılığıyla geniş bir coğrafi kapsam sunuyoruz.
					</li>
				</ul>
			</div>
			<div class="col-6">
				<div class="row">
				<img src="{{ asset('assets/image/ideogram (1).png') }}" alt="Image description">

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<h2>Hizmetlerimiz:</h2>
			<ul>
				<li>
					<strong>Hızlı ve Güvenilir Kargo:</strong>
					En hassas teslimat sürelerine ve güvenli taşımacılığa odaklanıyoruz. Müşterilerimizin gönderilerini en güvenli ve en hızlı şekilde teslim etmek için çaba sarf ediyoruz.</li>
				<li>
					<strong>Özelleştirilmiş Lojistik Çözümleri:</strong>
					Her müşterinin ihtiyaçları farklıdır. Bu nedenle, özelleştirilmiş lojistik çözümleri sunarak, müşterilerimize en uygun ve maliyet etkin seçenekleri sunuyoruz.</li>
				<li>
					<strong>Takip ve İzleme:</strong>
					Gönderilerinizi her adımda takip etme imkanı sunuyoruz. Müşterilerimize, gönderilerinin nerede olduğunu ve ne zaman teslim edileceğini bilme konusunda kesinlikle güven veriyoruz.</li>
			</ul>
		</div>
		<div class="col-6">
				<div class="row">
				<img src="{{ asset('assets/image/ideogram (1).png') }}" alt="Image description">

				</div>
			</div>
</div>

<div class="row">
	<div class="col-6">
		<h2>Neden Bizi Seçmelisiniz?</h2>
		<ul>
			<li>
				<strong>Mükemmel Müşteri Hizmeti:</strong>
				Müşteri memnuniyeti bizim için en öncelikli konudur. Her zaman müşterilerimize yardımcı olmaktan ve ihtiyaçlarını karşılamaktan gurur duyuyoruz.</li>
			<li>
				<strong>Küresel Ağ:</strong>
				Dünya genelindeki acentelerimiz ve partnerlerimizle, gönderilerinizi dünya çapında güvenilir bir şekilde teslim ediyoruz.</li>
			<li>
				<strong>Teknoloji Odaklı:</strong>
				En son teknoloji ve yazılım sistemleri ile çalışarak, operasyonlarımızı daha verimli hale getiriyoruz ve müşterilerimize daha iyi hizmet sunuyoruz.</li>
		</ul>
	</div>
<div class="col-6">
				<div class="row">
				<img src="{{ asset('/image/ideogram.png') }}" alt="Image description">

				</div>
			</div>
</div></div>{% endblock %}
